<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>A Basic Website With Caching</title>
    <link rel="stylesheet" href="/styles/app.css" />
  </head>
  <body>
    <img src="/images/trophy.jpg" alt="A trophy" />
    <h1>A Basic Website With Caching</h1>
    <p>
      The content of this site doesn't change very often. Hence it can benefit
      from caching (at the edge).
    </p>
  </body>
</html>
